<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  <header id="header">
    <div class="logo">
      <span class="icon fa-code"></span>
    </div>
    <div class="content">
      <div class="inner">
        <h1>Art Code</h1>
        <p>Art Code est un projet à but purement artistique.
          Je créé des petits scripts permettant de dessiner des images animées,
          jolies, parfois hypnotisantes. #CreativeCoding #javascript</p>
      </div>
    </div>
    <nav id="nav1">
      <ul>
        <li><a href="point_path">Point path</a></li>
        <li><a href="tangle">Tangle</a></li>
        <li><a href="attract">Attract</a></li>
        <li><a href="wall">Wall</a></li>
        <li><a href="stack">Stack</a></li>
      </ul>
    </nav>
    <nav id="nav2">
      <ul>
        <li><a href="link">Link</a></li>
        <li><a href="bounce">Bounce</a></li>
        <li><a href="pulse">Pulse</a></li>
        <li><a href="square">Square</a></li>
      </ul>
    </nav>
  </header>

  <div class="contact">
      <ul class="icons">
        <li><a target="_blank" href="https://www.facebook.com/Art-Code-707082972822925/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a target="_blank" href="https://www.instagram.com/_art_code_/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a target="_blank" href="https://github.com/MEmmanuel/art_code" class="icon fa-github"><span class="label">GitHub</span></a></li>
      </ul>
  </div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
  </footer>

</div>

<!-- BG -->
<div id="bg"></div>
