<div>
  <h1>Bienvenue sur Art Code</h1>
  <div class="item" style="margin-bottom: 20px;">
    <div class="tag">#CreativeCoding</div>
  </div>
  <div class="item">
    <a href="point_path">Point path</a> <div class="tag">#javascript</div><div class="tag">#interactive</div>
  </div>
  <div class="item">
    <a href="tangle">Tangle</a> <div class="tag">#javascript</div><div class="tag">#interactive</div>
  </div>
  <div class="item">
    <a href="attract">Attract</a> <div class="tag">#javascript</div><div class="tag">#lifegame</div>
  </div>
  <div class="item">
    <a href="wall">Wall</a> <div class="tag">#javascript</div><div class="tag">#interactive</div>
  </div>

</div>
