body {
  overflow: hidden;
}

.contact {
  margin-top: 20px;
}

.contact .icons {
  margin: 0;
}

#footer {
  margin-top: 1.5rem;
}

iframe {
  width: 100%;
  border: none;
}

div.header {
  height: 50px;
  background: #333;
}

div.header h1 {
  color: grey !important;
  font-size: 37px;
  display: inline;
  vertical-align: super;
  margin-left: 20px;
}

div.header a {
  cursor: pointer;
  border: none;
}
