body {
    background-color: grey;
    margin: 0;
    overflow: hidden;
    cursor: pointer;
}

div.dot {
    transform-origin: 0 0;
    position: absolute;
    border-radius: 50%;
}

div.container {
    cursor: default;
    background-color: #000;
    position: absolute;
}
